<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - NONTERRITORIAL MUSEUM</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            <img src="https://i.imgur.com/Vd3HgjD.png" alt="glasses" class="logo-glasses">
            <h1 class="museum">NONTERRITORIAL MUSEUM</h1>
         
            <div class="two">
                <section>    
                    <p class="title">About</p>  
                    <p>Nonterritorial museum is one of a kind</p>     
                </section>
            </div>     

            <nav>

            <div class="bottom-nav">
                    <a href="/" class="button small">Home</a>
                    <a href="/about" class="button small">About</a>
                    <a href="/roadmap" class="button small">Roadmap</a>
                    <a href="/qa" class="button small">Q&A</a>
                </div>
            </nav>
        </main>
        <footer class="nav-logo">
            <img src="https://i.imgur.com/sryvdsl.png" alt="Navigation Logo" class="logo">
        </footer>
    </div>
</body>
</html>
