<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NONTERRITORIAL MUSEUM</title>
    <link rel="stylesheet" href="/css/style.css">
    <script>
        const tg = window.Telegram.WebApp;
        tg.ready();
        console.log("Telegram WebApp initialized:", tg.initDataUnsafe);

    // Send initData to the server for validation
    fetch(`/auth?initData=${tg.initData}`)
        .then((response) => response.text())
        .then((data) => {
            console.log('Server response:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    </script>
</head>
<body>
    <div class="container">
        <main>
            <img src="https://i.imgur.com/Ozb99i4.png" alt="glasses" class="logo-glasses">
            <h1 class="museum">NONTERRITORIAL MUSEUM</h1>
            
            <nav>
                <a href="/register" class="button register">REGISTER</a>
                
                <a href="/collect" class="button collect">COLLECT</a>
                
                <div class="host-section">
                    <a href="/exhibit" class="button exhibit">EXHIBIT</a>
                    <a href="/host" class="button host">HOST</a>
                    <a href="/join" class="button join">JOIN</a>
                </div>
                
                <a href="/membership" class="button membership">MEMBERSHIP</a>
                
                <div class="bottom-nav">
                    <a href="/" class="button small">Home</a>
                    <a href="/about" class="button small">About</a>
                    <a href="/roadmap" class="button small">Roadmap</a>
                    <a href="/qa" class="button small">Q&A</a>
                </div>
            </nav>
            
            <footer class="nav-logo">
                <img src="https://i.imgur.com/sryvdsl.png" alt="Navigation Logo" class="logo">
            </footer>
        </main>
    </div>
</body>
</html>

