<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host - NONTERRITORIAL MUSEUM</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            <img src="https://i.imgur.com/IM0F4QY.png" alt="glasses" class="logo-glasses">
            <h1 class="museum">NONTERRITORIAL MUSEUM</h1>


            <section>
                <hr>
                <a href="/curators-glasses"><p>#01 CURATORS GLASSES</p></a>
                <hr>
                <p>#02 EXHIBITION TITLE</p>
                <hr>
                <p>#03 EXHIBITION TITLE</p>
                <hr>
                <p>#04 EXHIBITION TITLE</p>
                <hr>
                <p>#05 EXHIBITION TITLE</p>
                <hr>
                <p>#06 EXHIBITION TITLE</p>
                <hr>
                <p>#07 EXHIBITION TITLE</p>
                <hr>
                <p>#08 EXHIBITION TITLE</p> 
                <hr> 
            </section>
            <nav>

            <div class="bottom-nav">
                    <a href="/" class="button small">Home</a>
                    <a href="/about" class="button small">About</a>
                    <a href="/roadmap" class="button small">Roadmap</a>
                    <a href="/qa" class="button small">Q&A</a>
                </div>
            </nav>
        </main>
        <footer class="nav-logo">
            <img src="https://i.imgur.com/sryvdsl.png" alt="Navigation Logo" class="logo">
        </footer>
    </div>
</body>
</html>

