<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership - NONTERRITORIAL MUSEUM</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            <img src="https://i.imgur.com/RTJfqWp.png" alt="glasses" class="logo-glasses">
            <h1 class="museum">NONTERRITORIAL MUSEUM</h1>
           
            <section>
                <div class="dropdown">
                    <button class="dropdown-button" onclick="redirectToPayment('M1')">M1</button>
                    <div class="dropdown-content">
                        <p>
                            50 TON<br>
                            Early access to ticket purchases<br>
                            5% discount on tickets and artworks<br>
                            Exclusive behind-the-scenes content<br>
                            NFT badge for recognition<br>
                            Duration: Annual
                        </p>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-button" onclick="redirectToPayment('M2')">M2</button>
                    <div class="dropdown-content">
                        <p>
                            200 TON<br>
                            All Supporter benefits<br>
                            5% discount on tickets and artworks<br>
                            10% discount on tickets and artworks<br>
                            Periodic NFT airdrops<br>
                            Duration: Annual
                        </p>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-button" onclick="redirectToPayment('M3')">M3</button>
                    <div class="dropdown-content">
                        <p>
                            1000 TON<br>
                            All Patron benefits<br>
                            Free tickets to exhibitions for one year<br>
                            Share in transaction fee revenue<br>
                            Legacy recognition in a digital "Founder Wall<br>
                            Exclusive Founder-only NFTs<br>
                            Duration: Lifetime
                        </p>
                    </div>
                </div>
            </section>
            
            <nav>

            <div class="bottom-nav">
                    <a href="/" class="button small">Home</a>
                    <a href="/about" class="button small">About</a>
                    <a href="/roadmap" class="button small">Roadmap</a>
                    <a href="/qa" class="button small">Q&A</a>
                </div>
            </nav>
        </main>
        <footer class="nav-logo">
            <img src="https://i.imgur.com/sryvdsl.png" alt="Navigation Logo" class="logo">
        </footer>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
