<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A - NONTERRITORIAL MUSEUM</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            <img src="https://i.imgur.com/WJ2N1ZY.png" alt="glasses" class="logo-glasses">
            <h1 class="museum">NONTERRITORIAL MUSEUM</h1>
            <div class="text">  
                <section>    
                    <p class="title">Q&A</p>  
                    <p class="question">What is NTM?</p>
                    <p>The Nonterritorial Museum (NTM) on Telegram is a platform that reimagines how art is curated, exhibited, and experienced, integrating exhibitions, marketplaces, user participation, and NFTs for unlimited art experiences.</p>  
                    <p class="question">Why?</p>
                    <p>NTM moves beyond the exhausted marketplace concept, mathematical imagery, and trading-only approaches, offering a fresh and dynamic art experience and distribution space.</p>
                    <p class="question">What are the key functionalities?</p>
                    <p>NTM allows users to exhibit, host, experience, collect, expand their community, and enrich their existing profile.</p>
                    <p class="question">Who can participate?</p>
                    <p>Any exhibitor with compatible content and any host with a reasonable audience can join the NTM space.</p> 
                    <p class="question">What is the role of the host?</p>
                    <p>Hosts become curators, dealers, galleries, and meaningful players in the art circulation and distribution space, bridging the gap between art and audience.</p> 
                </section>
            </div>   
            <nav>
            <div class="bottom-nav">
                <a href="/" class="button small">Home</a>
                <a href="/about" class="button small">About</a>
                <a href="/roadmap" class="button small">Roadmap</a>
                <a href="/qa" class="button small">Q&A</a>
            </div>
            </nav>
        </main>
        <footer class="nav-logo">
            <img src="https://i.imgur.com/sryvdsl.png" alt="Navigation Logo" class="logo">
        </footer>
    </div>
</body>
</html>

