<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A - NONTERRITORIAL MUSEUM</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            <img src="https://i.imgur.com/WJ2N1ZY.png" alt="glasses" class="logo-glasses">
            <h1 class="museum">NONTERRITORIAL MUSEUM</h1>
            <div class="text">  
                <section>    
                    <p class="title">Q&A</p>  
                    <p class="question">What is NTM?</p>
                    <p>The Nonterritorial Museum (NTM) on TON is a platform that redefines how art is curated, exhibited, and experienced. By integrating exhibitions, marketplaces, user participation, and NFTs, NTM offers a limitless space for art engagement.</p>  
                    <p class="question">Why NTM?</p>
                    <p>NTM moves beyond the outdated marketplace models that dominate the current landscape—platforms that are overly focused on trading and speculation while excluding those unfamiliar with the crypto space.

                       NTM bridges the gap between the art world and broader communities, inviting non-crypto users to participate and enabling deeper, more dynamic interactions that transform how art is shared, experienced, and valued.</p>
                    <p class="question">What is behind art experience smart contracts?</p>
                    <p>The concept of an art experience contract allows exhibitors, artists, or artwork owners to showcase their works through invitations from various hosts, either virtually or physically. This triggers a generative curation model that fosters unexpected collaborations and interactions. Such an eco-system has the potential to significantly expand community engagement and growth.

                       Think of it like a cauliflower, where each host, exhibitor, and audience member represents a fractal. These interconnected fractals illustrate the scalability and adaptability of the concept, offering immense potential for long-term growth and widespread adoption.</p>

                    <p class="question">What is CPF?</p>
                    <p>CPF (Cinematic Preview Framework) is a transformative framework for creating audiovisual material that is adaptable to various contexts, locations, spaces, and formats. It acts as a dynamic bridge between the NTM Mini-App and the broader ecosystem, fostering the creation of high-quality, lasting content while expanding the reach and engagement of art experiences.</p>
                    
                    <p class="question">What are the key functionalities of NTM?</p>
                    <p>NTM enables users to exhibit, host, experience, collect, and expand their communities while enriching their existing profiles.</p>
                    <p class="question">Who can participate?</p>
                    <p>NTM welcomes any exhibitor with compatible content and any host capable of attracting a meaningful audience to participate in its growing ecosystem.</p> 
                    <p class="question">What is the role of the host?</p>
                    <p>Hosts play a pivotal role as curators, dealers, and galleries, becoming central figures in the circulation and distribution of art. They serve as the connection between art and audience, transforming the way art is shared and experienced.</p> 
                </section>
            </div>   
            <nav>
            <div class="bottom-nav">
                <a href="/" class="button small">Home</a>
                <a href="/about" class="button small">About</a>
                <a href="/roadmap" class="button small">Roadmap</a>
                <a href="/qa" class="button small">Q&A</a>
            </div>
            </nav>
        </main>
        <footer class="nav-logo">
            <img src="https://i.imgur.com/sryvdsl.png" alt="Navigation Logo" class="logo">
        </footer>
    </div>
</body>
</html>

